.red {
    border-style: solid;
    border-color: red;
}

.blye {
    border-style: solid;
    border-color: blue;
}
.yellow {
    border-style: solid;
    border-color: yellow;
}

.box {
  text-align: center;
  position: relative;
  line-height: 100px;
  background: #fff;
  height: 1px;

}

.box:after {
  background: linear-gradient(to right, #ffcd02 33%, #e84f47 33%, #e84f47 66%, #65c1ac 66%);
  position: absolute;
  content: '';
  height: 10px;
  right: 0;
  left: 0;
  top: 0;
}

