.red {
    border-style: solid;
    border-color: red;
}

.blue {
    border-style: solid;
    border-color: blue;
}
.yellow {
    border-style: solid;
    border-color: yellow;
}

.box {
  text-align: center;
  position: relative;
  line-height: 100px;
  background: #fff;
  height: 1px;

}

.box:after {
  background: linear-gradient(to right, #F3FF0F 33%, #FF1B12 33%, #FF1B12 66%, #0FA7FB 66%);
  position: absolute;
  content: '';
  height: 10px;
  right: 0;
  left: 0;
  top: 0;
}

.sliderlabel {
    line-height: 24px;
    margin-top: 10px;
}

#portfolio.home {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    position: relative;
    z-index: 1;
}

#portfolio.home::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.8; 
    z-index: -1;
    background: url(../img/Background.png);
    background-position: center;
}

#sliders > div:nth-child(2) > div.col-sm-6.div-slider > div > div > div {
    background-color: #feb36d;
}

#sliders > div:nth-child(3) > div.col-sm-6.div-slider > div > div > div {
    background-color: #f68987;
}

#sliders > div:nth-child(4) > div.col-sm-6.div-slider > div > div > div {
    background-color: #b69cdd;
}

#sliders > div:nth-child(5) > div.col-sm-6.div-slider > div > div > div {
    background-color: #fefe00;
}